<form (ngSubmit)="add()">
    <div class="form-group">
      <label >Quote</label>
      <input type="text" class="form-control" [(ngModel)]='quote' name = "quote">
    </div>
    <div class="form-group">
      <label >Submitted By</label>
      <input type="text" class="form-control" [(ngModel)]='submittedBy' name = "submittedBy">
      
    </div>
    <div class="form-group">
            <label >Author</label>
            <input type="text" class="form-control" [(ngModel)]='author' name="author">
            
          </div>
    <button type='submit'>
        submit
    </button>
    
    </form>


