<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Jura|Niconne|Russo+One|Viga" rel="stylesheet">

<h2 style="font-family: 'Viga sans-serif;" >{{quote.description}}</h2>

 

<!-- Like Section -->

    <button class=" btn btn-info" (click)='voteUp()' type="submit">
      <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>
    
      <span class="badge">{{showUpvotes}} Likes</span>
    </button>
    
    <button (click)='voteDown()' class="btn btn-info" type="submit">
    
      <span class="badge">{{showDownVotes}} Dislikes</span>
    </button>

<!--Collapse Like Section -->

<!-- Delete Button to delete quote -->

<!-- Collapse Delete button -->
