

<h1 class="quotesheader">My Quotes</h1>

<hr>

<div style="margin-left: 15px;" class="content">
  <div class="row">
    <app-quote-forms (newQuote)="addNewQuote($event)"></app-quote-forms>
  </div>

  <div *ngFor='let quote of quotes;let i = index'>
        <h3 id="{{i}}" appStrikethrough><strong>{{quote.name}}</strong> submitted on: {{quote.completeDate}}</h3>
        <app-quote-details [quote]='quote'></app-quote-details>
        <div style="width: 20%;">
            <a href="#" class="btn btn-sm animated-button victoria-one" (click)='quoteDelete(i)'>Delete Quote</a>
          </div>
      </div>



 


