<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

<h1 class="quotesheader">My Quotes</h1>

<hr>

<div style="margin-left: 15px;" class="content">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>

  <div *ngFor-='let quote of Quotes';let i = index'>
        <h3 style="font-family: 'Jura', sans-serif;" id="{{i}}" appStrikethrough><strong>{{quote.name}}</strong> submitted on: {{quote.completeDate|date|uppercase}}</h3>



 


